section{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.avatar {
    height: auto;
    width: 300px;
    border-radius: 10px;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.Profile{
    width: 300px;
}
.name{
    size: 20px;
    font-weight:bold
}
.login{
    size: 13px;
}
.bio {
    padding-bottom: 4px;
    border-bottom: 1px solid #b8b9b8;
}

.company::before, .location::before, .blog::before, .email::before {
    background-size: 16px 16px;
    display: inline-block;
    height: 16px;
    margin: 0 5px -2px 3px;
    width: 16px;
    content:"";
}
.company::before {
    background-image: url("../img/user-icons.png");
}
.location::before {
    background-image: url("../img/location.png");
}
.blog::before {
    background-image: url("../img/mail.png");
}
.email::before {
    background-image: url("../img/link.png");
}