@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.tab{
    color: #696969;
    background: transparent;
    margin: 10px;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

.tab:focus{
    border-bottom: 2px solid #ff4500;
    outline: none;
}

.tabs-section{
    width: auto;
}

.user-section{
    width: auto;
}

.textArea{
    margin: 10px;
    width: 325px;
    height: 30%;
    border-radius: 10px;
    border-color: #c0c0c0;
}

input{
    outline: none;
    border-radius: 5px;
    border: 1px solid #c0c0c0;
    padding: 2px;
}
