.User{
    display: inline-flex;
    color: #696969;
    margin: 20px;
    background-color: #fffbf4;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 100px;

}

p{
    margin: 10px;
}

button{
    color: #696969;
    background: transparent;
    margin: 10px;
    border: none;
    font-size: medium;
    outline: none;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 10px;
}

button:hover {
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 10px;
    color: #f5faff;
}
