.User{
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #696969;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}

button{
    color: #696969;
    background: transparent;
    margin: 10px;
    border: none;
    font-size: medium;
    outline: none;
    border-bottom: 1px solid #00008b;
    cursor: pointer;
}

button:hover {
    border-bottom: 1px solid #1e90ff;
}